<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <!-- CSS 파일 경로 수정: 웹 접근 가능한 경로로 수정 -->
    <link rel="stylesheet" href="/css/member/join.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
</head>
<body>

<div class="wrapper">
    <form id="join_form" method="post"> <!-- action 속성 제거하고 id와 method 속성 추가 -->
        <div class="wrap">
            <div class="subject"> <!-- 오타 수정: 'subjecet' -> 'subject' -->
                <span>회원가입</span>
            </div>
            <div class="id_wrap">
                <div class="id_name">아이디</div>
                <div class="id_input_box">
                    <input class="id_input" type="text" placeholder="아이디를 입력하세요" name="memberId"> <!-- name 속성 추가 -->
                </div>
            </div>
            <div class="pw_wrap">
                <div class="pw_name">비밀번호</div>
                <div class="pw_input_box">
                    <input class="pw_input" type="password" placeholder="비밀번호를 입력하세요" name="memberPw"> <!-- name 속성 추가 -->
                </div>
            </div>
            <div class="pwck_wrap">
                <div class="pwck_name">비밀번호 확인</div>
                <div class="pwck_input_box">
                    <input class="pwck_input" type="password" placeholder="비밀번호를 다시 입력하세요" name="memberPwConfirm"> <!-- name 속성 추가 -->
                </div>
            </div>
            <div class="user_wrap">
                <div class="user_name">이름</div>
                <div class="user_input_box">
                    <input class="user_input" type="text" placeholder="이름을 입력하세요" name="memberName"> <!-- name 속성 추가 -->
                </div>
            </div>
            <div class="mail_wrap">
                <div class="mail_name">이메일</div>
                <div class="mail_input_box">
                    <input class="mail_input" type="email" placeholder="이메일을 입력하세요" name="memberMail"> <!-- name 속성 추가 -->
                </div>
                <div class="mail_check_wrap">
                    <div class="mail_check_input_box">
                        <input class="mail_check_input" type="text" placeholder="인증번호 입력" name="mailVerification"> <!-- name 속성 추가 -->
                    </div>
                    <div class="mail_check_button">
                        <button type="button">인증번호 전송</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="address_wrap">
                <div class="address_name">주소</div>
                <div class="address_input_1_wrap">
                    <div class="address_input_1_box">
                        <input class="address_input_1" type="text" placeholder="주소 입력" name="memberAddr1"> <!-- name 속성 추가 -->
                    </div>
                    <div class="address_button">
                        <button type="button">주소 찾기</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address_input_2_wrap">
                    <div class="address_input_2_box">
                        <input class="address_input_2" type="text" placeholder="상세 주소 입력" name="memberAddr2"> <!-- name 속성 추가 -->
                    </div>
                </div>
                <div class="address_input_3_wrap">
                    <div class="address_input_3_box">
                        <input class="address_input_3" type="text" placeholder="추가 주소 입력" name="memberAddr3"> <!-- name 속성 추가 -->
                    </div>
                </div>
            </div>
            <div class="join_button_wrap">
                <button type="button" class="join_button">가입하기</button> <!-- 버튼을 submit으로 변경 -->
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        //회원가입 버튼 클릭 시 폼의 action 속성 설정 및 제출
        $(".join_button").click(function(){
            $("#join_form").attr("action", "/member/join");
            $("#join_form").submit();
        });
    });
</script>

</body>
</html>
