<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="/css/member/login.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
    <div class="wrap">
        <form id="login_form" method="post">
            <div class="logo_wrap">
                <span>Book Mall</span>
            </div>
            <div class="login_wrap">
                <div class="id_wrap">
                    <div class="id_input_box">
                        <input class="id_input" type="text" name="memberId" placeholder="아이디">
                    </div>
                </div>
                <div class="pw_wrap">
                    <div class="pw_input_box">
                        <input class="pw_input" type="password" name="memberPw" placeholder="비밀번호">
                    </div>
                </div>

                <div class="login_warn" id="login_warn"></div>

                <div class="login_button_wrap">
                    <input type="button" class="login_button" value="로그인">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    /* 로그인 버튼 클릭 메서드 */
    $(".login_button").click(function() {
        // 로그인 요청
        $.ajax({
            url: "/member/login",
            method: "POST",
            data: $("#login_form").serialize(),
            success: function(response) {
                if (response.status === "error") {
                    $("#login_warn").text(response.message);
                } else {
                    // 로그인 성공 처리
                }
            },
            error: function(xhr, status, error) {
                $("#login_warn").text("사용자 ID 또는 비밀번호를 잘못 입력하셨습니다.");
            }
        });
    });
</script>

</body>
</html>